<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- include bootstrap -->
    <script src="/js/bundle.js"></script>
    <script src="/assets/jquery.min.js"></script>

    <title>Dashboard</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">CmsShoppingCart</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <% if (pages) { %>
           <% pages.forEach(page => { %>
            <li class="nav-item">
              <% if (page.slug === 'home') { %>
                <a class="nav-link" href="/"><%= page.title %> </a>
              <% } else { %>
                <a class="nav-link" href="<%= page.slug %>"><%= page.title %> </a>
              <% } %>
            </li>
           <% }) %>
          <% } %>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>  

    <div class="container">
      <%- messages('messages', locals) %>