html {
  .sorting {
    tr:not(.home) {
      cursor: pointer;
    }
  
    .ui-state-highlight {
      border: 1px dashed #ccc;
    }
  }
  
  .ck-editor__main {
    .ck-content {
      min-height: 10em;
    }
  }
}