html {
  .sorting {
    tr:not(.home) {
      cursor: pointer;
    }
  
    .ui-state-highlight {
      border: 1px dashed #ccc;
    }
  }
  
  .ck-editor__main {
    .ck-content {
      min-height: 10em;
    }
  }

  #imgPreview {
    margin: 20px;
  }

  #currentImgPreview {
    margin: 20px;
  }

  .new-image {
    display: none;
  }

  .productImage {
    width: 100px;
    height: 100px;
  }

  ul.gallery {
    padding: 0;
  }

  ul.gallery li:first-child {
    margin-left: 0;
  }

  ul.gallery li {
    margin: 20px;
    display: inline-block;
    list-style: none;
  }

  img {
    .pimage {
      width: 150px;
    }
  }

  a {
    .pa {
      display: inline-block;
      height: 160px;
    }
  }

  .row.products {
    .p {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  
}